%heading {
    font-family: $font-primary;
    color: $black-primary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size:4.5rem;
    font-weight: 700;
}

.heading-2 {
    @extend %heading;
    font-size: 3.5rem;
    font-weight: 600;
}

.heading-3 {
    @extend %heading;
    font-size: 2.5rem;
    font-weight: 600;
}


.content-1 {
    @extend %heading;
    font-size: 2.5rem
}

.content-2 {
    @extend %heading;
    font-size: 1.5rem;
}

@media only screen and (max-width: $bp-medium-1) {
    .heading-2 {
        font-size: 3rem;
    }

    .content-1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: $bp-small-2) {
    .heading-2 {
        font-size: 2.2rem;
    }

    .content-1 {
        font-size: 1.5rem;
    }
}

